.booking-container{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 5%;
    /* background-color: antiquewhite; */
    position: relative;
    /* border-top: 1px solid; */
    
}

.booking-container .return {
  position: absolute;
  top: 5%;
  left: 20%;
  border: none;
  
  background-color: transparent;
  /* padding: clamp(1.5rem,2.5vw,3rem) 0; */
  cursor: pointer;
}
.booking-container .return img{
  width: clamp(2rem,2.5vw,3rem);
  height: clamp(2rem,2.5vw,3rem);
  
}

.booking-container .left{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    height: 80vh;
   
    padding: clamp(1rem,2.5vw,3rem)
    clamp(1rem,2.5vw,2rem);
}
.booking-container .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.booking-container .right{
    padding: clamp(1.5rem,2.5vw,3rem)
    clamp(1rem,2.5vw,2rem);
 
}

form#bookingForm{
    display: flex;
    flex-direction: column;
    justify-content: center;

    


    
}

.booking-button{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 10%; */

    background-color: orange;
    color: white;
    border: none;
    padding: 1rem 0;
    cursor: pointer;
    transition: .4s;
}

.booking-button:hover{
    opacity: .8;
}














/* flow */
section.flowBox{
    margin: calc( 1rem + 5%) auto;
    display: flex;
    width: 60%;
    align-items: center;
    
    justify-content: center;
    
  }
  
  .flowOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 15%;
    /* background-color: aquamarine; */
    
  }
  
  .flowOrder .status{
   
    color: black;
    padding: .5rem .8rem;
    border-radius: 50%;
    margin-bottom: .5rem;

    border: 1px solid;
  }
  .flowOrder:nth-child(1) .status,
  .flowOrder:nth-child(3) .status
   {
      /* background-color: var(--main-color); */
      color: white;
      background-color: orange;
     
  }
  .flowOrder:nth-child(1) .text h5,
  .flowOrder:nth-child(3) .text h5{
    color: orange;
  }
  
  .line{
    
    width: 100%;
    
  }

  @media (max-width: 900px){

    .booking-container .left{
      text-align: center;
       height: 50vh;    
       padding: clamp(1rem,2.5vw,3rem)
       clamp(.5rem,2.5vw,2rem);
   }

   .booking-container .return {
    top: 0%;
    left: 1rem;
    
    
  
  }

   

  }






  .invalid{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.invalid-date{
    display: none;
    position:absolute; 
      top: 40%;
      left:50%; 
      transform:translate(-50%,-50%);
      
      flex-direction: column;
      width: 50vw;
      height: 60vh;
      margin: calc(1rem + 2%) auto ;
      background-color:white;
      
      display: flex;
      align-items: center;
      justify-content: center;
}


.invalid-date .box{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}
.invalid-date .box button{
    width: 100%;
    background-color: orange;
    color: white;
    border: none;
    padding: clamp(.3rem,2.5vw,.5rem) 0;
}
.invalid-date .box button a{
    text-decoration: none;
    color: white;
    
}
.invalid-date .box button:hover{
    opacity: .5;
}

.box .tick{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}